@using SQL_New.Models
@model Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @if (Model.Courses != null && Model.Courses.Count > 0)
    {
        <div class="row">

            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td><b>Course Id</b></td>
                            <td><b>Course Name</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Course course in Model.Courses)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => course.Id)</td>
                                <td>@Html.DisplayFor(modelItem => course.Name)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td><b>All Course Assignments bound for this teacher</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Course course in Model.Courses)
                            {
                                foreach (var assignment in course.Assignments)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => assignment.Name)</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
            </div>

        </div>

    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
